body{font-family: helvetica ,sans-serif;font-size:80%;line-height: 123%}
p{margin:2% 0 0 2%}
h2{font-size: 120%;margin:2% 0 0 2%}
h3{font-size: 100%;margin:2% 0 0 2%}
ul{margin:2% 0 0 2%;padding: 0 0 0 5%}
li{margin:3% 0 1% 2%;}