<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fr_collapse</key>
	<dict>
		<key>code</key>
		<string>e80f</string>
	</dict>
	<key>fr_expand</key>
	<dict>
		<key>code</key>
		<string>e810</string>
	</dict>
	<key>express_logout</key>
	<dict>
		<key>code</key>
		<string>e825</string>
	</dict>
	<key>empty</key>
	<dict>
		<key>code</key>
		<string>e880</string>
	</dict>
	<key>shortcut</key>
	<dict>
		<key>code</key>
		<string>e87f</string>
	</dict>
	<key>check</key>
	<dict>
		<key>code</key>
		<string>e81c</string>
	</dict>
	<key>security_locked</key>
	<dict>
		<key>code</key>
		<string>e87e</string>
	</dict>
	<key>download</key>
	<dict>
		<key>code</key>
		<string>e821</string>
	</dict>
	<key>error_indicator</key>
	<dict>
		<key>code</key>
		<string>e84d</string>
	</dict>
	<key>date_refresh</key>
	<dict>
		<key>code</key>
		<string>e81e</string>
	</dict>
	<key>fb_list_view</key>
	<dict>
		<key>code</key>
		<string>e82c</string>
	</dict>
	<key>delete_in_list</key>
	<dict>
		<key>code</key>
		<string>e801</string>
	</dict>
	<key>history_viewed</key>
	<dict>
		<key>code</key>
		<string>e83f</string>
	</dict>
	<key>loading_spinner</key>
	<dict>
		<key>code</key>
		<string>e845</string>
	</dict>
	<key>pull_to_refresh</key>
	<dict>
		<key>code</key>
		<string>e85e</string>
	</dict>
	<key>help</key>
	<dict>
		<key>code</key>
		<string>e879</string>
	</dict>
	<key>learn_more</key>
	<dict>
		<key>code</key>
		<string>e843</string>
	</dict>
	<key>settings</key>
	<dict>
		<key>code</key>
		<string>e862</string>
	</dict>
	<key>info</key>
	<dict>
		<key>code</key>
		<string>e841</string>
	</dict>
	<key>path_arrow_right</key>
	<dict>
		<key>code</key>
		<string>e850</string>
	</dict>
	<key>fb_grid</key>
	<dict>
		<key>code</key>
		<string>e82b</string>
	</dict>
	<key>fb_multimedia_video</key>
	<dict>
		<key>code</key>
		<string>e835</string>
	</dict>
	<key>fb_multimedia_ppt</key>
	<dict>
		<key>code</key>
		<string>e833</string>
	</dict>
	<key>fb_multimedia_image</key>
	<dict>
		<key>code</key>
		<string>e831</string>
	</dict>
	<key>fb_multimedia_html</key>
	<dict>
		<key>code</key>
		<string>e830</string>
	</dict>
	<key>fb_multimedia_audio</key>
	<dict>
		<key>code</key>
		<string>e82d</string>
	</dict>
	<key>fb_multimedia_unknown</key>
	<dict>
		<key>code</key>
		<string>e834</string>
	</dict>
	<key>fb_multimedia_pdf</key>
	<dict>
		<key>code</key>
		<string>e832</string>
	</dict>
	<key>fb_multimedia_doc</key>
	<dict>
		<key>code</key>
		<string>e82e</string>
	</dict>
	<key>fb_multimedia_ebook</key>
	<dict>
		<key>code</key>
		<string>e82f</string>
	</dict>
	<key>subscriptions</key>
	<dict>
		<key>code</key>
		<string>e868</string>
	</dict>
	<key>recently_viewed</key>
	<dict>
		<key>code</key>
		<string>e85d</string>
	</dict>
	<key>offline_transactions</key>
	<dict>
		<key>code</key>
		<string>e84c</string>
	</dict>
	<key>my_reports</key>
	<dict>
		<key>code</key>
		<string>e849</string>
	</dict>
	<key>home</key>
	<dict>
		<key>code</key>
		<string>e840</string>
	</dict>
	<key>report_queue</key>
	<dict>
		<key>code</key>
		<string>e85f</string>
	</dict>
	<key>fb_project</key>
	<dict>
		<key>code</key>
		<string>e836</string>
	</dict>
	<key>fb_vi</key>
	<dict>
		<key>code</key>
		<string>e83a</string>
	</dict>
	<key>fb_report</key>
	<dict>
		<key>code</key>
		<string>e837</string>
	</dict>
	<key>fb_graph</key>
	<dict>
		<key>code</key>
		<string>e82a</string>
	</dict>
	<key>fb_document</key>
	<dict>
		<key>code</key>
		<string>e827</string>
	</dict>
	<key>fb_folder</key>
	<dict>
		<key>code</key>
		<string>e829</string>
	</dict>
	<key>fb_tile_view</key>
	<dict>
		<key>code</key>
		<string>e839</string>
	</dict>
	<key>sort</key>
	<dict>
		<key>code</key>
		<string>e87a</string>
	</dict>
	<key>search</key>
	<dict>
		<key>code</key>
		<string>e808</string>
	</dict>
	<key>hamburger</key>
	<dict>
		<key>code</key>
		<string>e83e</string>
	</dict>
	<key>navi_annotation</key>
	<dict>
		<key>code</key>
		<string>e813</string>
	</dict>
	<key>navi_print</key>
	<dict>
		<key>code</key>
		<string>e815</string>
	</dict>
	<key>navi_cancel</key>
	<dict>
		<key>code</key>
		<string>e800</string>
	</dict>
	<key>fb_multimedia_excel</key>
	<dict>
		<key>code</key>
		<string>e816</string>
	</dict>
	<key>share</key>
	<dict>
		<key>code</key>
		<string>e809</string>
	</dict>
	<key>navi_email_screen</key>
	<dict>
		<key>code</key>
		<string>e814</string>
	</dict>
	<key>trash</key>
	<dict>
		<key>code</key>
		<string>e80a</string>
	</dict>
	<key>photo_uploader_retake</key>
	<dict>
		<key>code</key>
		<string>e80d</string>
	</dict>
	<key>modified_caption</key>
	<dict>
		<key>code</key>
		<string>e80b</string>
	</dict>
	<key>checkmark_area</key>
	<dict>
		<key>code</key>
		<string>e807</string>
	</dict>
	<key>checkmark_empty</key>
	<dict>
		<key>code</key>
		<string>e805</string>
	</dict>
	<key>photo_uploader_add_photo</key>
	<dict>
		<key>code</key>
		<string>e80c</string>
	</dict>
	<key>navi_back</key>
	<dict>
		<key>code</key>
		<string>e802</string>
	</dict>
	<key>ra_filter_collapse</key>
	<dict>
		<key>code</key>
		<string>e8cc</string>
	</dict>
	<key>ra_filter_expand</key>
	<dict>
		<key>code</key>
		<string>e8cd</string>
	</dict>
</dict>
</plist>
