<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Server Authentication</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Portrait Background Image</key>
			<string>starburst-portrait.png</string>
			<key>Landscape Background Image</key>
			<string>starburst-landscape.png</string>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>SERVER_DEFAULT_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Header</key>
			<dict>
				<key>Text</key>
				<string>SERVER_DEFAULT_HEADER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Login Button</key>
			<dict>
				<key>Title</key>
				<string>SERVER_DEFAULT_LOGIN_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Cancel Button</key>
			<dict>
				<key>Title</key>
				<string>SERVER_DEFAULT_CANCEL_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Footer</key>
			<dict>
				<key>Text</key>
				<string>SERVER_DEFAULT_FOOTER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Forget Password</key>
			<dict>
				<key>Link</key>
				<string>http://www.microstrategy.com</string>
				<key>Text</key>
				<string>SERVER_DEFAULT_FORGET_PASSWORD</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Authentication Parameters</key>
			<array/>
		</dict>
		<key>customserver.microstrategy.com</key>
		<dict>
			<key>Portrait Background Image</key>
			<string>starburst-portrait.png</string>
			<key>Landscape Background Image</key>
			<string>starburst-landscape.png</string>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>SERVER_CUSTOM_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Header</key>
			<dict>
				<key>Text</key>
				<string>SERVER_CUSTOM_HEADER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Login Button</key>
			<dict>
				<key>Title</key>
				<string>SERVER_CUSTOM_LOGIN_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Cancel Button</key>
			<dict>
				<key>Title</key>
				<string>SERVER_CUSTOM_CANCEL_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Footer</key>
			<dict>
				<key>Text</key>
				<string>SERVER_CUSTOM_FOOTER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Forget Password</key>
			<dict>
				<key>Link</key>
				<string>http://www.microstrategy.com</string>
				<key>Text</key>
				<string>SERVER_CUSTOM_FORGET_PASSWORD</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Authentication Parameters</key>
			<array/>
		</dict>
	</dict>
	<key>Project Authentication</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Portrait Background Image</key>
			<string>starburst-portrait.png</string>
			<key>Landscape Background Image</key>
			<string>starburst-landscape.png</string>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>PROJECT_DEFAULT_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Header</key>
			<dict>
				<key>Text</key>
				<string>PROJECT_DEFAULT_HEADER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Login Button</key>
			<dict>
				<key>Title</key>
				<string>PROJECT_DEFAULT_LOGIN_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Cancel Button</key>
			<dict>
				<key>Title</key>
				<string>PROJECT_DEFAULT_CANCEL_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Footer</key>
			<dict>
				<key>Text</key>
				<string>PROJECT_DEFAULT_FOOTER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Forget Password</key>
			<dict>
				<key>Link</key>
				<string>http://www.microstrategy.com</string>
				<key>Text</key>
				<string>PROJECT_DEFAULT_FORGET_PASSWORD</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Authentication Parameters</key>
			<array>
				<dict>
					<key>Key</key>
					<string>username</string>
					<key>Type</key>
					<integer>0</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>PROJECT_DEFAULT_USERNAME</string>
						<key>Placeholder Text</key>
						<string>PROJECT_DEFAULT_USERNAME_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>PROJECT_DEFAULT_USERNAME_DEFAULT_VALUE</string>
					</dict>
				</dict>
				<dict>
					<key>Key</key>
					<string>password</string>
					<key>Type</key>
					<integer>1</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>PROJECT_DEFAULT_PASSWORD</string>
						<key>Placeholder Text</key>
						<string>PROJECT_DEFAULT_PASSWORD_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>PROJECT_DEFAULT_PASSWORD_DEFAULT_VALUE</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>CustomProject</key>
		<dict>
			<key>Portrait Background Image</key>
			<string>starburst-portrait.png</string>
			<key>Landscape Background Image</key>
			<string>starburst-landscape.png</string>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>PROJECT_CUSTOM_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Header</key>
			<dict>
				<key>Text</key>
				<string>PROJECT_CUSTOM_HEADER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Login Button</key>
			<dict>
				<key>Title</key>
				<string>PROJECT_CUSTOM_LOGIN_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Cancel Button</key>
			<dict>
				<key>Title</key>
				<string>PROJECT_CUSTOM_CANCEL_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Footer</key>
			<dict>
				<key>Text</key>
				<string>PROJECT_CUSTOM_FOOTER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Forget Password</key>
			<dict>
				<key>Link</key>
				<string>http://www.microstrategy.com</string>
				<key>Text</key>
				<string>PROJECT_CUSTOM_FORGET_PASSWORD</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Authentication Parameters</key>
			<array>
				<dict>
					<key>Key</key>
					<string>username</string>
					<key>Type</key>
					<integer>0</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>PROJECT_CUSTOM_USERNAME</string>
						<key>Placeholder Text</key>
						<string>PROJECT_CUSTOM_USERNAME_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>PROJECT_CUSTOM_USERNAME_DEFAULT_VALUE</string>
					</dict>
				</dict>
				<dict>
					<key>Key</key>
					<string>password</string>
					<key>Type</key>
					<integer>1</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>PROJECT_CUSTOM_PASSWORD</string>
						<key>Placeholder Text</key>
						<string>PROJECT_CUSTOM_PASSWORD_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>PROJECT_CUSTOM_PASSWORD_DEFAULT_VALUE</string>
					</dict>
				</dict>
				<dict>
					<key>Key</key>
					<string>token</string>
					<key>Type</key>
					<integer>1</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>PROJECT_CUSTOM_TOKEN</string>
						<key>Placeholder Text</key>
						<string>PROJECT_CUSTOM_TOKEN_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>PROJECT_CUSTOM_TOKEN_DEFAULT_VALUE</string>
					</dict>
				</dict>
				<dict>
					<key>Key</key>
					<string>tokentype</string>
					<key>Type</key>
					<integer>2</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>PROJECT_CUSTOM_TOKEN_TYPE</string>
						<key>Selections</key>
						<array>
							<string>PROJECT_CUSTOM_TOKEN_TYPE_SELECTION_0</string>
							<string>PROJECT_CUSTOM_TOKEN_TYPE_SELECTION_1</string>
							<string>PROJECT_CUSTOM_TOKEN_TYPE_SELECTION_2</string>
						</array>
						<key>Default Selection</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Certificate Server Authentication</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Portrait Background Image</key>
			<string>starburst-portrait.png</string>
			<key>Landscape Background Image</key>
			<string>starburst-landscape.png</string>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>CERTIFICATE_SERVER_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Header</key>
			<dict>
				<key>Text</key>
				<string>CERTIFICATE_SERVER_HEADER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Login Button</key>
			<dict>
				<key>Title</key>
				<string>CERTIFICATE_SERVER_LOGIN_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Cancel Button</key>
			<dict>
				<key>Title</key>
				<string>CERTIFICATE_SERVER_CANCEL_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Footer</key>
			<dict>
				<key>Text</key>
				<string>CERTIFICATE_SERVER_FOOTER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Forget Password</key>
			<dict>
				<key>Link</key>
				<string>http://www.microstrategy.com</string>
				<key>Text</key>
				<string>CERTIFICATE_SERVER_FORGET_PASSWORD</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Authentication Parameters</key>
			<array/>
		</dict>
	</dict>
	<key>Change Password</key>
	<dict>
		<key>Default</key>
		<dict>
			<key>Portrait Background Image</key>
			<string>starburst-portrait.png</string>
			<key>Landscape Background Image</key>
			<string>starburst-landscape.png</string>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>CHANGE_PASSWORD_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Header</key>
			<dict>
				<key>Text</key>
				<string>CHANGE_PASSWORD_HEADER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Login Button</key>
			<dict>
				<key>Title</key>
				<string>CHANGE_PASSWORD_LOGIN_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Cancel Button</key>
			<dict>
				<key>Title</key>
				<string>CHANGE_PASSWORD_CANCEL_BUTTON_TITLE</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
				<key>Background</key>
				<dict>
					<key>Red</key>
					<integer>0</integer>
					<key>Green</key>
					<integer>0</integer>
					<key>Blue</key>
					<integer>0</integer>
					<key>Alpha</key>
					<real>0.2</real>
				</dict>
			</dict>
			<key>Footer</key>
			<dict>
				<key>Text</key>
				<string>CHANGE_PASSWORD_FOOTER</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Forget Password</key>
			<dict>
				<key>Link</key>
				<string>http://www.microstrategy.com</string>
				<key>Text</key>
				<string>CHANGE_PASSWORD_FORGET_PASSWORD</string>
				<key>Font</key>
				<dict>
					<key>Name</key>
					<string>System</string>
					<key>Red</key>
					<integer>255</integer>
					<key>Green</key>
					<integer>255</integer>
					<key>Blue</key>
					<integer>255</integer>
					<key>Alpha</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Authentication Parameters</key>
			<array>
				<dict>
					<key>Key</key>
					<string>oldPassword</string>
					<key>Type</key>
					<integer>1</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>CHANGE_PASSWORD_OLD_PASSWORD</string>
						<key>Placeholder Text</key>
						<string>CHANGE_PASSWORD_OLD_PASSWORD_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>CHANGE_PASSWORD_OLD_PASSWORD_DEFAULT_VALUE</string>
					</dict>
				</dict>
				<dict>
					<key>Key</key>
					<string>newPassword</string>
					<key>Type</key>
					<integer>1</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>CHANGE_PASSWORD_NEW_PASSWORD</string>
						<key>Placeholder Text</key>
						<string>CHANGE_PASSWORD_NEW_PASSWORD_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>CHANGE_PASSWORD_NEW_PASSWORD_DEFAULT_VALUE</string>
					</dict>
				</dict>
				<dict>
					<key>Key</key>
					<string>confirmNewPassword</string>
					<key>Type</key>
					<integer>1</integer>
					<key>Configuration</key>
					<dict>
						<key>Label</key>
						<string>CHANGE_PASSWORD_CONFIRM_PASSWORD</string>
						<key>Placeholder Text</key>
						<string>CHANGE_PASSWORD_CONFIRM_PASSWORD_PLACEHOLDER</string>
						<key>Default Value</key>
						<string>CHANGE_PASSWORD_CONFIRM_PASSWORD_DEFAULT_VALUE</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
